[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
openpyxl = "==3.1.5"
xlrd = "*"
beautifulsoup4 = "*"
requests = "*"
browser-cookie3 = "*"
streamlit = "*"

[dev-packages]
ipykernel = "*"
black = "*"
flake8 = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.3"
